<%=current_user.username%><br/>
<%current_user.quizzes.each do |q|%><br/>
<%=link_to "#{q.title}", "/quizzes/#{q.id}"%>
<%end%><br>
<p></p>
<%=link_to 'Make a Quiz', new_quiz_path%> <%= link_to 'All Quizzes', quizzes_path %>
